<div class ="container">

  <!--見出し-->
  <div class ="row justify-content-center py-2">
    <h3><i class="fas fa-star"></i>BOOKMARK</h3>
  </div>

  <!--お気に入り記事一覧-->
  <div class ="row justify-content-center py-5">
    <div class ="col-4">
      <table class = "table table-bordered">
        <thead class = "text-center">
         <th>タイトル</th>
         <th>詳細へ</th>
        </thead>
        <% @favorite_articles.each do |article|%>
        <tbody>
         <td><%=article.title %></td>
         <td class = "text-center"><%= link_to "詳細へ", article_path(article.id),class: "btn btn-dark" %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>