<h1>ADMIN Article index</h1>
<% @articles.each do |article| %>
<div>
  <p><%= image_tag article.image, size: "100x100" %></p>
  <p>タイトル：<%= link_to article.title, admin_article_path(article.id) %></p>
  <p><%= article.customer.name %></p>
  
<% end %>
