  <div class="justify-content-center p-2">
  <div class ="text-center p-3">
    <%= image_tag "p_about.png", width: '100%'%>
  </div>
  <div class ="text-center p-3">
    <p class ="mt-5">アロマオイルにはさまざまな活用法があります。</p>
    <p>当サイトは、アロマオイルの活用法についての記事を投稿したり、記事をブックマークして保存したり、</p>
    <p>みんなで知識をシェアする香りの研究所のような場所となることを目指しています。</p>
  </div>
  </div>