<div class ="container">

  <!--見出し-->
  <div class ="row justify-content-center py-3">
    <h3>会員一覧</h3>
  </div>

  <!--会員一覧-->
  <div class="row justify-content-center">
    <div class="col-5 align-items-center">
      <table class="table table-bordered">
        <thead class= "text-center">
          <th>名前</th>
          <th>登録日</th>
          <th>詳細ページ</th>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <td><%= customer.name %></td>
          <td><%= customer.created_at.strftime('%Y/%m/%d')  %></td>
          <td class= "text-center"><%= link_to "詳細へ", admin_customer_path(customer.id), class: "btn btn-sm btn-original" %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>