<div class ="container">

<!--見出し-->
  <div class ="row justify-content-center py-3">
    <h3>会員詳細</h3>
  </div>

<!--会員情報-->
  <div class ="row justify-content-center">
    <div class ="col-5 align-items-center">
      <h5>ユーザーネーム</h5>
      <p><%= @customer.name %></p>
      <h5>登録日</h5>
      <p><%= @customer.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>

<!--退会ボタン-->
  <div class ="row justify-content-center">
    <%= link_to "退会させる", admin_customer_path(@customer.id), class: "btn btn-sm btn-danger", method: :delete %>
  </div>