@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

li {
    list-style: none;
}

 /*ページネーション*/
.pagination>li>a {          
  border: none;     
  color: #696969;   
}
.pagination>.active>a {     
  background: #9fbd8f;     
  border-radius: 15px;     
}
.pagination>li>a:hover {        
  border-radius: 15px;
}

/*背景*/
.bg-original {
  background-color: #9fbd8f;
}
.bg-brown {
  background-color: #d1bda7;
}
/*ボタン*/
.btn-original {
    background: #9fbd8f;
    color: white;
}
.btn-original-sub {
    background: white;
    color: #9fbd8f;
}
.w-btn {
  width: 140px !important;
}
/*プロフィール画像*/
.profile_image{
border-radius: 15%;
border: solid white;
}

/*サイドバー*/
.sidebar{
  height: 90vh;
}

/*文字色*/
.text-original { 
  color:#9fbd8f;
}

/*投稿画像*/
.article-image{
  width: 500px;
  height: auto;
}